@import url('https://use.typekit.net/klq6lzb.css');

*{
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
    list-style: none;
    color: #457DA3;
}
a:visited{
    text-decoration: none;
    list-style: none;
    color: #457DA3;
}

body {
    font-family: "Parity Sans", sans-serif;
    color: #457DA3;
    list-style: none;
    background-color: #eef6fc;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*NAV BAR*/
.nav-bar{
    display: flex;
    flex-direction: column;
    background: #F0F5F7;
    justify-content: left;
    padding-top: 20px;
    padding-bottom:20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
    height: 70px;
}

.nav-item{
    list-style: none;
    padding: 15px 15px 15px 15px;
    margin-right: 35px;
}

.nav{
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Parity Sans', sans-serif;
    font-size: 20px;
    margin-right: 15px;
    margin-left: 60px;
}

.logo{
    padding-right: 80px;
}

.nav-item a:hover{
    text-decoration: underline;
}

/*1ST SECTION*/
.home-page{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 350px;
    padding-bottom: 515px;
}
/*the transition is kinda wonky ;-;*/
@keyframes slideUp {
    0% {transform: translateY(40px);opacity:0;}
    100% {transform: translateY(0px);opacity:1;}
  }

  .slideUp {
    top:40px;
    left:10px;
    animation: slideUp ease 0.75s forwards 1s;
    z-index: 2;
    opacity:0;
  }

/*make fade in text ani!!*/
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
.fade-in-text{
    animation: fadeIn ease 2s forwards 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:0;
}  

.home-page img{
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
}

.lanterns{
    display: flex;
    padding: 20px;
    position: relative;
}

.lantern {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.lantern:first-of-type {
    left: calc(6% - 50px);
}

.lantern:nth-of-type(2) {
    left: calc(75% - 50px);
}

.lantern:last-of-type {
    right: calc(4.8% - 50px);
}

@media (min-width: 768px) {
    .lantern {
      max-width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .lantern {
      max-width: 15%;
    }
  }

/* make the ani smoother!!*/
@keyframes swaying {
    0% {transform: rotate(-2.5deg);}
    50% {transform: rotate(2.5deg);}
    100% {transform: rotate(-2.5deg);}
}

/*how can i make the string of the lantern stay at pinpointed position? */
#lantern1-base{
    transform-origin: top left 5px;
    animation: infinite;
    animation-name: swaying;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    float: left;
    z-index: 4;
}

#lantern2-base{
    transform-origin: top right 5px;
    animation: infinite;
    animation-name: swaying;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    float: left;
    z-index: 4;
}

#lantern3-base{
    transform-origin: top right 5px;
    animation: infinite;
    animation-name: swaying;
    animation-duration: 5.5s;
    animation-timing-function: ease-in-out;
    float: left;
    z-index: 5;
}

#panels{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    z-index: 3;
}

.slide-text {
    position: absolute;
    transform: translate(0, 20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    z-index: 4;
}

.slide-text.show{
    opacity: 1;
    transform: translate(0, 0);    
}


.background {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    height: 500px; 
    position: relative;
    overflow-x: hidden;
}

.background img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .background {
      max-width: 50%;
    }
  }
  
  @media (min-width: 992px) {
    .background {
      max-width: 33.33%;
    }
  }
/*make bamboo sway slightly later!! */
#bamboo{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    z-index: 1; 
}

#mountain3{
    height: 100%;
    width: 100%;
    max-width: auto;
    max-height: auto;
    z-index: -1; 
}

#building{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -2; 
}

#mountain1{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -3; 
}

#mountain2{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -4; 
}

#clouds{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: -5; 
}

/*2ND SECTION*/
.my-container{
    display: flex;
    flex-direction: column;
    background: #DDE8ED;
    padding-top: 50px;
    padding: bottom 450px;
}

.carpet-background{
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 50;
    z-index: -9;
}

.my-specialties{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.section{
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-image: url("../img/rug.png");
    background-repeat:no-repeat;
    background-size: 100% 80%;
    background-position: 0% 230%;
}

.section-item{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 50px 30px;
}

.nav-btn-arch{
    align-items: center;
    background-color:#fdfbf6 ;
    border-radius: 30px ;
    padding: 9px 16px 10px 16px ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-btn-arch:hover {
    background-color: #E5D7C6;
    transition: background-color 0.3s ease-in-out;
  }


.nav-btn-graphic{
    align-items: center;
    background-color:#fdfbf6 ;
    border-radius: 30px ;
    padding: 9px 16px 10px 16px ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-btn-graphic:hover {
    background-color: #E5D7C6;
    transition: background-color 0.3s ease-in-out;
  }

.nav-btn-illustration{
    align-items: center;
    background-color:#fdfbf6 ;
    border-radius: 30px ;
    padding: 9px 16px 10px 16px ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-btn-illustration:hover {
    background-color: #E5D7C6;
    transition: background-color 0.3s ease-in-out;
  }

#arch {
    max-width: auto;
    max-height: auto;
    width: 85%;
    height: 85%;
    padding-bottom: 10px;
  }

#graphic {
    max-width: auto;
    max-height: auto;
    width: 85%;
    height: 85%;
  }

#illustration {
    max-width: auto;
    max-height: auto;
    width: 85%;
    height: 85%;
  }

/*3RD SECTION*/
.transition{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../img/transition.png");
    background-repeat:no-repeat;
    background-size: contain;
    padding-bottom: 200px;
}

.transition{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../img/transition.png");
    background-repeat:no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}

.my-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project1{
    justify-content: center;
    align-items: center;
    background-color:#fdfbf6 ;
    border-radius: 30px ;
    padding: 9px 16px 10px 16px ;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/*BOTTOM NAV BAR*/
.btm-nav-container{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
    align-items: center;
    margin-top: -15px;
}

.btm-nav-item{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:end;
        font-size: 23px;
        font-family: 'parity-sans', sans-serif;
        padding-left: 30px;
        margin: 30px;
    }

.btm-nav {
    display: flex;
    float: right;
    flex-direction: row;
    justify-content: space-between;
    float: right;
    width: 100%;
    background-color: #F4ECE1; 
    }

.btm-items{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    float: right;
    width: 100%;
}

.btm-items a:hover{
    text-decoration: underline;
}

/*TYPOGRAPHY*/
h1{
    font-family: "parity-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 90px;
}

h2{
    font-family: "parity-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px; 
}

h3{
    font-family: "parity-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px; 
}

h4{
    font-family: "parity-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px; 
}

p{
    font-family: "praxis-next", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;    
    text-align: center;
    padding-bottom: 20px;
}